@font-face {
              font-family: 'Dunking'; /* Name your font family */
              src: url('../../resources/webpage-fonts/Quesha3.ttf'); /* Locate the .ttf file within your directory*/
            }
body {
            background-color: rgb(209, 171, 0);
            -webkit-animation: smoothbackgroundtransition 6s;
            -moz-animation: smoothbackgroundtransition 6s;
            -ms-animation: smoothbackgroundtransition 6s;
            animation: smoothbackgroundtransition 6s;
            font-family: 'Dunking', sans-serif;
            }

h1 {

                font-size: 50px;
                font-weight: bold;
                text-shadow: 2px 2px rgb(91, 89, 199);
                
            }
h2 {
              font-size: 35px;
            }
h3 {
              font-size: 23px;
              font-style: italic;
            }
            p {
              
              font-size: 30px;
            }
h2, p, h1, h3 {
              -webkit-animation: smothtexttransition 7s;
              -moz-animation: smothtexttransition 7s;
              -ms-animation: smothtexttransition 7s;
              animation: smoothtexttransition 7s;
              margin-inline: 0%;
              color: white;
              margin-left: 7%;
              margin-right: 7%;
              
            }
#videos {
  margin-left: 7%;
  margin-right: 7%;
}

#bodaux {
    width: 100pc;
    height: 100pc;
    position: absolute;
    overflow:visible;
    margin-top: 3%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 100%;
    height: 100%;
}
#loading {
  background: radial-gradient(circle,rgba(3, 0, 0, 1) 0%, rgba(106, 26, 115, 0.432) 20%, rgba(237, 221, 83, 0) 30%, rgba(237, 221, 83, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
}
#loading img {
  margin: auto;
  max-width: 100%;

}
#loading.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    display: none;   /* optional – hides the element after fade */
}
/*This will be useful in the other pages later on*/
#bodaux::-webkit-scrollbar{
  display:none;
}
#wallpapers div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
}
img.loading {opacity: 0;
transition: opacity 3 ease;}
@keyframes smoothbackgroundtransition {
            from {background-color: rgba(3, 7, 39, 0);}
            to {background-color: rgb(209, 171, 0);}
        }
        @keyframes smoothtexttransition {
                from{color:rgba(255, 253, 219, 0);}
                to{color:rgb(255, 255, 255);}
            }